 *{
 	box-sizing: border-box;
 }


 .missao strong {color: red;} 
 article strong {color: blue;} */
 article .missao strong{ color: green;} */
 article > .importante > strong{ color :red;} */
 /* > ( somente classe .importante filho direto do article)*/
article .importante > strong{ color :red;} 

.caixa1 {background-color :blue;color : white;}

 .caixa2{
 background-color :rgb(255,0,0);
	color : rgb(0,0,0);	
 }

 .caixa3{
background-color :rgb(255,200,0);
	color : rgb(255,255,255);	
  }

.caixa4{
 background-color : #ff00c8;
 color : #ddff00;
 }

.caixa5{
 background-color :#df0;
 color : #000;
 }
 

 .nome{
	color: #f00;
	font-family: "Trebuchet MS",Arial,sans-serif;
	font-size: 50px;
	font-style:italic;
	font-weight: bold;

	text-decoration: line-through;
	text-align: center;
 }
 .segmento{
	font-family: Palatino,serif;
	text-decoration: underline;		
	text-align: center;

 }


 body{
 	font-size: 32px;
 	margin: 0px;
 }

 .nome-empresa{
 	background-color: pink;
 }

 .segmento-empresa{
 	background-color: red;
 }

 .curso-html{
 	background-color: #00dd00;
 }
 .curso-css{
 	background-color: #fdff11;
 }
 .curso-java{
 	background-color: #00dddd;
 }
 .curso-bootstrap{
 	background-color: #ee00da;
 }
 

 .nome-empresa,.segmento-empresa{
 	display: block; /*display:none = visible false*/
 	height: 100px;
 	width:300px;
 }

 .curso-html,.curso-css{
 	display: inline;
 	height: 100px;
 	width:300px;
 }


 .curso-java,.curso-bootstrap{
 	display: inline-block;
 	height: 100px;
 	width:300px;	
 }

 a{
 	border-width: thick;
 /*	border-color:red;
 	border-style: solid; */
 }
  p{
  	/*background-color: #ccc;
 	width: 300px;
 	height: 300px;
 	border: 5px solid yellow;
 	border-radius: 0px 10px 30px 90px;
 	border-top-right-radius: 0px;
 	border-bottom-right-radius: 50px;*/

 	/*text-align: justify;
 	width: 500px;
 	border:3px solid red;
 	background-color: yellow;
 	padding: 25px 50px;
 	padding-right: 150px;
 	padding-left: 10px;
*/
	margin-bottom: 10px;
 }

 .frase1{
 	margin-left: 0px;
 	margin-bottom: 0px;
 /*	margin-top:-10px;*/
 }
 
.frase2{
	margin : 0 auto;

}


.frase3,.frase4,.referencia{
	width: 500px;
	text-align: justify;
	background-color: yellow;
 }
 

.referencia{
	background-color: blue;
	height: 20px;
}

.frase3{
	box-sizing: content-box;
	border:3px solid red;
	padding: 20px;
}

.frase4{
	box-sizing: border-box;
	border:5px solid red;
	padding: 30px;
}

ul.menu{
	list-style: none;
	padding: 0;
	margin:0;
}
ul.menu > li{
	display: inline-block;
	border: 3px solid red;
	padding: 5px;
}